.main{
    color: white;
    background-image: url(./20220507164809_IMG_9736.jpg);
    background-size: cover;
    background:linear-gradient(rgb(252, 252, 252) rgb(244, 240, 240)) ;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}